/* ********* Sotto i 576px  ********** */

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    
    .row {
        flex-direction: column;
        align-items: center;
    }
    


}


