/* ********* Sotto i 768px  ********** */

@media screen and (max-width: 768px) {
    h2 {
        display: flex;
        align-items: center;
    }
    
    .row {
        flex-direction: column;
    }
    
    .card {
        position: relative;
        left: 100px;
    }
    
}